@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #6200ee;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 365px;
  color: white;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__menu i {
  margin: auto 20px;
  padding-right: 10px;
}
.nav__menu__p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.nav__icons {
  display: flex;
  align-items: center;
}
.nav__icons i {
  margin: auto 10px;
}