@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #6200ee;
    display: flex;
    justify-content: space-between;
    height: 60px;
    min-width: 100%;
    color: white;
    /*Incluir Version Desktop*/
    @include media(mobile-only) {
        width: 365px;
    }
    &__menu {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            margin: auto 20px;
            padding-right: 10px;
        }
        &__p {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            margin: auto 10px;
        }
    }
}
