@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*Paleta de colores*/
$bg-color: #6200ee;

/*font size, family y weight*/
$font-size: 18px;
$font-weight: 600px;
$font-family: 'Inter', sans-serif;

/*Mixins*/
@mixin Screen_size($width) {
    width: $width;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    height: 60px;
    @include Screen_size(100%);
    color: white;
    /*Incluir Version Desktop*/
    @include media(mobile-only) {
        @include Screen_size(365px);
    }
    &__menu {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            margin: auto 20px;
            padding-right: 10px;
        }
        &__p {
            font-family: $font-family;
            font-weight: $font-weight;
            font-size: $font-size;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            margin: auto 10px;
        }
    }
}
